<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="sgcaguadagrandeEntities" connectionString="metadata=res://*/Delivery.Model1.csdl|res://*/Delivery.Model1.ssdl|res://*/Delivery.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sistemascomerciales.net;user id=sistema1_sgcweb;password=sgcomercial*?;persistsecurityinfo=True;database=sistema1_sgcaguadagrande&quot;" providerName="System.Data.EntityClient"/>
    <add name="sgcomercial.My.MySettings.MySQLConnectionString" connectionString="server=sistemascomerciales.net;user id=sistema1_sgcweb;password=Sistemascomerciales*?;database=sistema1_sgcaguadagrande;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>
    <add name="sgcomercial.My.MySettings.SCConnectionString" connectionString="server=sistemascomerciales.net;user id=sistema1_siscom;password=Sistemascomerciales*?;database=sistema1_siscom;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>
    <add name="sgcomercial.My.MySettings.comercialConnectionString" connectionString="Data Source=localhost;Initial Catalog=comercial;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsUsuariosSoapBinding" />
        <binding name="wsRowSoapBinding" />
        <binding name="LoginCmsSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="LoginCmsSoapBinding1" />
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/SGCreditosJavaEnvironment/servlet/com.sgcreditos.awsusuarios"
        binding="basicHttpBinding" bindingConfiguration="wsUsuariosSoapBinding"
        contract="wsUsuarios.wsUsuariosSoapPort" name="wsUsuariosSoapPort" />
      <endpoint address="http://localhost:8080/SGCreditosJavaEnvironment/servlet/com.sgcreditos.awsrow"
        binding="basicHttpBinding" bindingConfiguration="wsRowSoapBinding"
        contract="wsrow.wsRowSoapPort" name="wsRowSoapPort" />
      <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"
        binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding"
        contract="WSAA.LoginCMS" name="LoginCms" />
      <endpoint address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="WSFEV1.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
